DEBUG=False

DEEPSEEK__API_KEY=
DEEPSEEK__MAX_CONNECTIONS=
DEEPSEEK__TIMEOUT=
DEEPSEEK__BASE_URL=
DEEPSEEK__MODEL=

UNSPLASH__APP_ID=
UNSPLASH__ACCESS_KEY=
UNSPLASH__SECRET_KEY=
UNSPLASH__MAX_CONNECTIONS
UNSPLASH__TIMEOUT


AWS__ACCESS_KEY=minioadmin
AWS__SECRET_KEY=minioadmin
AWS__ENDPOINT_URL=http://localhost:9000
AWS__BUCKET_NAME=fastai
AWS__READ_TIMEOUT=10
AWS__CONNECT_TIMEOUT=10
AWS__MAX_POOL_CONNECTIONS=10
